@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100; 300; 400; 500; 700; 900&family=Roboto:ital,wght@0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800&display=swap'); 


/*===========================================================================
    CSS 초기화
============================================================================*/
* { font-family: 'Open Sans','Noto Sans KR'; box-sizing: border-box; margin: 0; padding: 0; } 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, i, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, menu, nav, section, video, a { border: 0; outline: 0; line-height: 1.5; scroll-behavior: smooth; letter-spacing: -0.6px; } 
body { line-height: 1; } 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } 
ul, ol, li { list-style: none; } 
strong { display: inline-block; } 
a { margin: 0; padding: 0; font-size: 100%; } 
table { width: 100%; border-collapse: collapse; border-spacing: 0; } 
table thead { background:#f8f8fa; } 
table tr { } 
table th { font-size:18px; font-weight: bold; padding:12px; text-align: center; } 
table td { padding:12px; text-align: center; } 
input,
select { vertical-align: middle; outline: 0; } 
p { line-height: 1.5; } 
img { display: block; width: 100%; object-fit: cover; } 
span { display: inline-block; } 
label { display: block; font-size: 18px; } 
button { border: 0; background: inherit; cursor: pointer; font-size:15px; } 
a { display: block; text-decoration: none; } 
input[type="text"], input[type="password"], input[type="email"], button, textarea { border: 1px solid #e1e1e1; appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; } 
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] { border:0; background: inherit; } 
textarea { resize: none; padding: 14px; font-size: 16px; } 
.col-group { display: flex; align-items: center; } 
.btn-group { text-align: center; } 
/* .btn-group button { font-size: 14px; font-weight: 400; position: relative; margin: 0 auto; padding: 0; width: 144px; border: 1px solid #d3d3d3; text-align: center; height: 50px; line-height: 50px; }  */
pre { display: inline-block; white-space: pre-wrap; } 
.wrap { overflow: hidden; } 
/*===========================================================================
    공통요소
============================================================================*/
.container { max-width: 1240px; height: 100%; margin-left: auto; margin-right: auto; } 
.button-group { width: 100%; display: flex; align-items: center; justify-content: center; } 
.tit { font-weight: 400; } 
/*===========================================================================
    헤더
============================================================================*/
header {z-index: 1000; position: fixed; top:0; left: 0; width: 100%; padding: 20px 0;}
header .top-wrap { display: flex; justify-content: space-between; }
header .top-group { display: flex; align-items: center;}
header .top-group .logo a { width: 142px; }
header .top-group .gnb-group { display: flex;  margin-left: 19px; }
header .top-group .gnb-group li { font-size: 16px; }
header .top-group .gnb-group li a { color: #fff;  padding: 0 15px; }
header nav { display: flex; justify-content: left; align-items: center; }
header nav button { margin-left: 20px; border: 0; width: 30px; height: 30px; }
header nav .menu-btn { margin-left: 9px; }
header .mobile { display: none; }

/* 메뉴 드롭다운 */
header .drop-area { width: 100%; position: absolute; top: 0; z-index: 10; background: #fff; }
header .drop-area .top-wrap { padding: 20px 0; }
header .drop-area .gnb-group li a { color: #333; font-size: 16px; font-weight: 500; }
header .drop-area .product-wrap { display: flex; padding: 16px 0 49px; }
header .drop-area .product-wrap a { color: #333; font-weight: 300; font-size: 14px; line-height: 1.42; letter-spacing: -.7px; }
header .drop-area .product-wrap .con { width: 172px; }
header .drop-area .product-wrap .con::after { width: 1px; }
header .drop-area .product-wrap .con .tit { font-weight: 500; color: #f02c2c; } 
header .drop-area .product-wrap .con a { position: relative; width: 164px; height: 32px; font-size: 14px; font-weight: 300; letter-spacing: -.1px; line-height: 2.28; color: #333; padding-left: 18px; }
header .drop-area .product-wrap .con:nth-child(2) { border-left: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; }
header .drop-area .product-wrap .con:last-child {  content: ''; position: relative; margin-left: 24px; margin-right: 40px; }
header .drop-area .product-wrap .con:last-child a {position: relative;  padding-left: 0; width: 210px; height: 40px; font-size: 14px; font-weight: 500; letter-spacing: -.7px; line-height: 2.71; color: #333; border-top: 1px solid #d8d8d8; }
header .drop-area .product-wrap .con:last-child div { font-size: 14px; letter-spacing: -.7px; line-height: 22px; color: #707070; word-break: keep-all;  }
header .drop-area .product-wrap .con:last-child .img-box { width: 160px; margin-left: 50px; position: absolute;  left: 52px   top: 5px;  margin-right: -30px; }
header .drop-area .product-wrap .con:last-child a::after { content: ''; display: block; width: 30px; height: 30px; position: absolute; transform: translateY(-50%); top: 50%; right: 0; z-index: 10; background: url(../images/icon-arrow.png);  background-size: 100% auto; }
header .drop-area .product-wrap .swiper { width: 417px; position: relative; padding-bottom: 24px; }
header .drop-area .product-wrap .swiper-pagination { content: ''; position: absolute; bottom: 0; width: 100%; }
header .drop-area .product-wrap .swiper-pagination-bullet { width: 5px; height: 5px; border-radius: 50%;  }
header .drop-area .product-wrap .swiper-pagination-bullet-active { background: #333; }
header .search .menu-group .container { display: flex;  padding-top: 30px; padding-bottom: 114px; }
header .search .menu-group .search-wrap { width: 86%; margin-top: -10px; padding-right: 65px; }

/* 서치 드롭다운 */
header .search .menu-group .search-txt { width: 14%; padding-right: 20px; font-size: 14px; color: #333; line-height: 1.28; letter-spacing: -.12px; } 
header .search .menu-group .search-bar { padding: 0 50px 16px 0;  border-bottom: 1px solid #707070; }
header .search .menu-group .search-bar .inputfield { font-size: 38px; letter-spacing: -1.48px; line-height: 1.47; font-weight: 400; color: #e0e0e0; }
header .search .menu-group ul { display: flex; margin-top: 14px; }
header .search .menu-group ul .tit { margin-left: 0; font-size: 12px; font-weight: 300; letter-spacing: -.6px; line-height: 1.66; color: #707070; }
header .search .menu-group ul li { margin-left: 12px; font-size: 14px; font-weight: 400; letter-spacing: -.7px;  line-height: 20px;  color: #333;  }


/* 위시리스트 드롭다운 */
header .wish-area { position: absolute; top: 0; z-index: 1000; width: 100vw; height: 100vh; background-color: rgba(0,0,0,.3); }
header .wish-area .txt-box { position: absolute; top: 40%; left: 50%; transform: translateX(-50%); width: 430px; padding: 40px 40px 50px; background: #fff; box-shadow: 0 5px 40px 0 rgb(0 0 0 / 14%); }
header .wish-area .txt-box .con { font-size: 14px; font-weight: 300; letter-spacing: -.7px; line-height: 1.42; color: #333; text-align: center; }
header .wish-area .btn-box { padding-top: 26px; width: 100%;  text-align: center; }
header .wish-area .btn-box button {border: 1px solid #000; width: 87px; height: 38px; font-size: 15px; line-height: 2.4;  border: 1px solid #333;  font-weight: 500; letter-spacing: -.7px; text-align: center;}
header .wish-area .btn-box .no { background-color: #fff; color: #333; }
header .wish-area .btn-box .yes { margin-left: 10px;  background-color: #333; color: #fff;}




/*===========================================================================
푸터
============================================================================*/
footer { padding-top: 180px; }
footer .wrap { background-color: #f6f5f3;  padding: 42px 0 50px;  }
footer .top-area .container { display: flex; justify-content: space-between; }
footer .top-area .tit { font-size: 24px; font-weight: 500; letter-spacing: -.92px; color: #707070; }
footer .top-area .menu-group { display: flex; justify-content: left; }
footer .top-area .menu-group .menu { margin-left: 106px; }
footer .top-area .menu-group a { padding: 8px 0; font-size: 16px; letter-spacing: -.23px; color: #707070; }
footer .top-area .menu-group .menu:last-child { width: 100px; margin-left: 106px; }
footer .top-area .menu-group .menu:last-child a { position: relative; }
footer .top-area .menu-group .menu:last-child a::after { content: ''; background: url(../images/icon-footer-link.png) no-repeat; transform: translateY(-50%); background-size: 100% auto; width: 16px; height: 16px; position: absolute; top: 50%; right: 0; }
/* transform: translateY(-50%); background-size: 100% auto; 이부분이 뭘 의미하는지 모르겠어요ㅠ */
footer .mid-area .container { border-top: 1px solid #ddd; margin-top: 60px; padding-top: 25px; display: flex; justify-content: space-between; }
footer .mid-area .txt-wrap .brand { font-size: 16px; letter-spacing: -.3px; line-height: 1.37; color: #707070; }
footer .mid-area .txt-wrap .address { margin-top: 10px; }
footer .mid-area .txt-wrap .address, .txt-box { font-size: 14px; font-weight: 300; letter-spacing: -.2px; line-height: 1.42; color: #707070; }
footer .mid-area .txt-wrap .txt-box { margin-top: 4px; display: flex; }
footer .mid-area .txt-wrap .txt-box .ceo { position: relative; margin-right: 6px; padding-right: 6px; }
footer .mid-area .txt-wrap .txt-box .ceo::after { content: '';  width: 1px; height: 10px; background-color: #ddd; position: absolute; right: 0; transform: translateY(50%);  }
footer .mid-area .txt-wrap .txt-box .tel { position: relative; margin-right: 6px; padding-right: 6px; }
footer .mid-area .txt-wrap .txt-box .tel::after { content: '';  width: 1px; height: 10px; background-color: #ddd; position: absolute; right: 0; transform: translateY(50%);  }
footer .bottom-area { padding: 16px 0; background-color: #ecebe7; }
footer .bottom-area .container { display: flex; justify-content: space-between; align-items: center; }
footer .bottom-area .copy { display: flex; justify-content: space-between; font-size: 14px; color: rgba(51,51,51,.7); line-height: 1.28; font-weight: 500; }
footer .bottom-area .copy .pc { margin-right: 2px; width: 16px; }
footer .bottom-area .copy .mobile { display: none; }
footer .bottom-area .tel { font-size: 14px; font-weight: 500; letter-spacing: -.2px; color: #707070; line-height: 1.5; }


/*===========================================================================
    반응형
============================================================================*/
@media(max-width:1240px) {
    .container { width: 100%; padding: 0 20px; }
    header .logo-group .gnb-group { display: none; }
}

@media(max-width:768px) { 
    header { padding: 0; }
    header .top-wrap .gnb-group { display: none; }
    header .top-wrap nav { display: none; }
    header .drop-area { display: none; }
    header .top-group { justify-content: space-between; align-items: center; width: 100%; height: 50px; }
    header .logo a { width: 142px; height: 30px; }
    header .mobile.nav .m-menu-btn { margin-left: 9px; }

    header .mobile { position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; display: block; background: #fff;  }
    header .mobile .top-group { height: 50px; padding: 0 12px; display: flex; justify-content: space-between;  align-items: center; }
    header .mobile button { width: 30px; border: 0;  }
    header .mobile.nav { display: block; }
    header .mobile.nav .m-menu-btn { margin-left: 9px;  }
    header .mobile.menu .gnb-group { padding-left: 16px; padding-top: 32px; }
    header .mobile.menu .gnb-group button { font-size: 22px; color: #333; line-height: 1.9; letter-spacing: -.7px; font-weight: 500; width: auto; display: block;}
    header .mobile.menu .bottom-menu { padding-left: 16px; position: absolute; bottom: 98px; width: 100%; }
    header .mobile.menu .bottom-menu a { color: #707070; line-height: 30px; letter-spacing: -.7px; font-weight: 400; }
    header .mobile.menu .sns { display: flex; position: absolute; bottom: 0; height: 50px; border-top: 1px solid #8d8d8d; width: 100%; padding-top: 5px;  }
    header .mobile.menu .sns a {  width: 38px; height: 38px; background-size: 100%; background-repeat: no-repeat; background-position: 0 0; margin-left: 8px; }
    header .mobile.menu .sns a:first-child { margin-left: 3px; padding-left: 0; } 

    header .mobile.search .con-group { padding: 15px 12px 0; }
    header .mobile.search .search-bar { border-bottom: 1px solid #707070; position: relative;}
    header .mobile.search .search-bar input { padding-left: 35px; padding-bottom: 9px; height: auto; font-size: 18px; font-weight: 300; line-height: 1.33; letter-spacing: -.7px; }
    header .mobile.serach .search-bar input::before { content: "";  width: 10px; height: 10px; position: absolute; top: -4px; left: -6px; z-index: 1000; background: url(../images/icon-arrow.png) no-repeat; border: 1px solid #000; }
    header .mobile.search .keyword-group { margin-top: 40px; }
    header .mobile.search .keyword-group div { margin-bottom: 13px; font-size: 14px; font-weight: 400; line-height: 1.71; letter-spacing: -.61px; color: #707070;}
    header .mobile.search .keyword-group button { font-size: 20px; font-weight: 500; line-height: 2; letter-spacing: -.58px; display: block; width: auto; }

    footer { padding-top: 120px; }    
    footer .wrap { background-color: #f6f5f3; padding: 0; }
    footer .top-area {padding: 32px 12px 50px;}
    footer .top-area .container { display: block; }
    footer .top-area .tit { font-size: 22px; color: #333; font-weight: 500; letter-spacing: -.92px; } 
    footer .top-area .menu-group { display: block; padding-top: 50px;  }
    footer .top-area .menu-group .menu { border-bottom: 1px solid #ddd; margin-left: 0; margin-bottom: 30px; padding-bottom: 30px; }
    footer .top-area .menu-group .menu:last-child { border-bottom: 0; margin-left: 0;}
    footer .top-area .menu-group .menu a { font-size: 15px; line-height: 1.2;  font-weight: 300; color: #333; padding: 5px 0; }  
    footer .top-area .menu-group .menu a:first-child { padding-top: 0; }
    
    footer .mid-area { padding: 34px 12px 65px;  background-color: #ecebe7; }
    footer .mid-area .container { display: block; border: 0; margin: 0; padding: 0; }
    footer .mid-area .txt-wrap:first-child { padding-top: 0; }
    footer .mid-area .txt-wrap { padding-top: 38px; }
    footer .mid-area .txt-wrap .brand { font-size: 15px; font-weight: 500; line-height: 20px; color: #333; margin-bottom: 10px; } 
    footer .mid-area .txt-wrap div { font-size: 14px; font-weight: 300; letter-spacing: -.2px; line-height: 1.42; color: #707070;  }
    footer .mid-area .txt-wrap .mob.txt-box { display: block; }
    footer .mid-area .txt-wrap .txt-box .tel::after { display: none; }
    
    footer .bottom-area { background-color: #333; padding: 18px 0 15px; }
    footer .bottom-area .copy { color: #fff; font-size: 15px; font-weight: 500; letter-spacing: -.1px;}
    footer .bottom-area .copy .mobile { display: block; margin-right: 2px; width: 16px; }
    footer .bottom-area .copy .pc { display: none; }
    footer .bottom-area .tel { font-size: 14px; color: #fff; font-weight: 500; letter-spacing: -.09px; line-height: 1.28; }
}







