/*===========================================================================
    헤더
============================================================================*/
header .top-wrap { width: 1240px; position: fixed; z-index: 1000; display: flex; justify-content: space-between; }
header .logo-group { display: flex; align-items: center;}
header .logo-group .logo { width: 142px; }
header .logo-group .gnb-group { display: flex;  margin-left: 19px; }
header .logo-group .gnb-group li a { color: #fff;  padding: 20px 15px; }
header nav { display: flex; justify-content: left; align-items: center; }
header nav button { display: block; border: 0; width: 30px; height: 30px; }
header nav .menu-btn { margin-left: 9px; }

/*===========================================================================
    메인페이지
============================================================================*/
main .main-banner { height: 100vh; }
/* 화면채우기 */
/* 배너들어간 이미지 사이즈랑 위치가 이상한거 같아요ㅠ */
main .main-banner .swiper-slide { position: relative; }
main .main-banner .scroll-box { position: absolute; width: 60px; left: 50%; bottom: 37px; margin-left: -30px; z-index: 2; text-align: center;}
main .main-banner .scroll-box .bar { margin: 0 auto; width: 1px; height: 13px; background-color: #fff; z-index: 1000; }
main .main-banner .scroll-box p { margin-top: 9px; font-size: 11px; line-height: 14px; letter-spacing: .11px; color: #fff; } 
/* 원본이랑 띄어쓰기가 이상해요ㅠ */
main .main-banner .txt-box { width: 370px; position: absolute; width: 100%;  bottom: 199px; z-index: 1000; text-align: center;  }
main .main-banner .txt-box .tit { font-size: 66px; letter-spacing: -.89px;  line-height: 1.12; color: #fff; text-shadow: 0 2px 20px rgb(0 0 0 / 40%);}
/* letter-spacing: -.89px; 이 값은 왜 "-."이 들어가나요? 보통 이렇게 쓰나요?  */
main .main-banner .txt-box p { margin-top: 7px;  display: inline-block; width: 370px; font-size: 16px; color: #fff; line-height: 1.62; letter-spacing: -.7px; }
/* 원하는 문구에서 문단을 끊을 때 width값 지정하면 되나요? 다른 방법이 또 있는지 궁금합니다! */
main .main-banner .txt-box a { display: inline-block; margin-top: 32px; padding: 0 35px; border: 1px solid hsla(0,0%,100%,.5); height: 36px; line-height: 2.57; font-size: 14px; color: #fff;  letter-spacing: -.1px; }


main .sec01 { margin-top: 70px;  }
main .sec01 .txt-box { color: #333; font-weight: 300; line-height: 1.41; letter-spacing: -1px; padding: 0 76.225px; }
main .sec01 .txt-box .tit { margin-top: 4px; font-weight: 500;  font-size: 20px; }
main .sec01 .txt-box p { font-size: 24px;}
main .sec01 .img-group { margin-top: 60px; display: flex;  justify-content: flex-end; }
main .sec01 .contents .swiper-wrapper { padding-left: 180px; position: relative; margin-top: 60px; }
main .sec01 .contents .swiper-slide { position: relative; }
/* 각 슬라이드의 크기와 마진값 적용안됨 */
main .sec01 .contents .swiper-slide a:hover { background-color: rgba(0,0,0,.1);  transition: opacity .2s ease-in-out 0s; }
/* hover값 적용이 안됨 */
main .sec01 .contents .swiper-slide .part { position: absolute; left: 26px; bottom: 26px; font-size: 26px; color: #fff; line-height: 34px; letter-spacing: -.7px;}
main .sec01 .contents .cursor { z-index: 10; position: absolute; left: 96px; top: 50%; transform: translateY(-50%); width: 150px; height: 150px; }
/* z-index 추가 left값 조정, 부모값 잘보기 */

/* 이부분은 너무안되어서..하다가 포기했어요ㅠ */
main .sec02 { margin-top: 240px; }
main .sec02 .container { position: relative; display: flex; }
main .sec02 .style-group { display: flex; justify-content: flex-end; }
main .sec02 .style-group li { margin-left: 15px; }
/* 마진값 오른쪽 값을 못찾겠어요 ㅠ */
main .sec02 .style-group li button { color: #333; background: inherit; border: 0; font-size: 16px; font-weight: 300 ;line-height: 1.5; }
main .sec02 .style-group li button:hover { font-weight: 400; border-bottom: 0; }
/* 마우스오버 시 밑줄들어가는 효과? */
main .sec02 .style-cont-wrap { background-color: #ecebe7; padding-top: 50px; }
/* margin-left값이 -100px로 되어있는데 어떤 기준으로 된건지 모르겠어요ㅠ */
main .sec02 .style-cont-wrap .style-box01 { width: 50%; display: flex; align-items: center; position: relative;}
main .sec02 .style-cont-wrap .style-box01 .txt-box { position: absolute; top: 0; right: -28px; transform-origin: 100% 100%; transform: rotate(-90deg);}
/* transform-origin right및 bottom기준으로 변경됨*/
main .sec02 .style-cont-wrap .style-box01 .txt-box span { font-weight: 500; padding-right: 10px; color: #707070; letter-spacing: -.1px;  }
main .sec02 .style-cont-wrap .style-box01 .txt-box .place { font-weight: 300; font-size: 13px; }
main .sec02 .style-cont-wrap .style-box02 { margin-top: 10.5%; margin-left: 11.31%; width: 29.16%; }
main .sec02 .style-cont-wrap .style-box02 .box-wrap { position: relative; }
main .sec02 .style-cont-wrap .style-box02 .txt-box { position: absolute; bottom: 240px; right: -28px; transform-origin: 100% 100%; transform: rotate(-90deg);} 

main .sec03 { padding-top: 80px; padding-bottom: 90px; background-color: #f6f5f3;  }
main .sec03 .txt-box { text-align: center;}
main .sec03 .txt-box .tit { font-size: 32px; color: #333; line-height: 34px; letter-spacing: -.1px; }
main .sec03 .txt-box p { width: 440px; margin: 16px auto 0; font-size: 16px; color: #333; font-weight: 300; line-height: 1.75; letter-spacing: -.7px;}
main .sec03 .txt-box .more { position: relative; display: flex; justify-content: center; align-items: center; padding-top: 12px; padding-bottom: 1px; font-size: 14px; color: #333; line-height: 1.28; letter-spacing: -.7px; }
main .sec03 .txt-box .more::after { content: ''; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; width: 80px; height: 1px; background: #999; }
main .sec03 .txt-box .botton-line { margin: 0 auto; width: 75px; height: 1px; background: #8d8d8d; }
main .sec03 .txt-box .more img { margin-left: 2px; width: 10px; height: 10px; }
main .sec03 .img-box { position: relative; padding-top: 56%; width: 100%; height: 0; margin-top: 48px; padding: 0 40px; }
main .sec03 .img-box iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
main .sec03 .img-box .play-btn { border: 0; background: inherit; width: 60px; height: 60px; position: absolute; top: 50%; left: 50%; z-index: 1000; }


main .sec04  { margin-top: 89px; }
main .sec04 .tit { font-size: 32px; color: #333; line-height: 1.06px; letter-spacing: -.1px; text-align: center; }
main .sec04 .icon-group  { width: 490px; margin: 0 auto; padding-top: 35px; display: flex; justify-content: center; flex-wrap: wrap; } 
main .sec04 .icon-group .icon-li { margin: 0 10px; }
main .sec04 .icon-group .icon-li .img-box { width: 80px; }
main .sec04 .icon-group .icon-li h3 { text-align: center; font-size: 16px; color: #333; font-weight: 300; line-height: 1; letter-spacing: -.67px;}


main .sec05 { margin-top: 89px; }
main .sec05 .container { padding-top: 30px;  display: flex; justify-content: space-between; align-items: center}
main .sec05 .txt-box .tit { font-size: 32px; color: #333; line-height: 1.06; letter-spacing: -.1px; }
main .sec05 .txt-box .menu-group {padding-top: 8px; display: flex; justify-content: space-between; }
main .sec05 .txt-box .menu-group button { position: relative;  padding: 0 14px; width: auto; margin-left: 0; border: 0; background: inherit; font-size: 14px; color: #adadad; font-weight: 500; line-height: 1.71; letter-spacing: -.7px; }
main .sec05 .txt-box .menu-group button:last-child { padding-right: 0; }
main .sec05 .txt-box .menu-group button:hover { color: #333; }
main .sec05 .txt-box .menu-group button::after { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 11px; background-color: #e7e7e7; }
/* width auto를 빼면 글자가 수직으로 되는데 왜그런가요? 가상클래스의 부모는 어떻게 파악하나요? */
main .sec05 .txt-box .menu button:last-child { padding-right: 0; }
main .sec05 .img-wrap { margin-top: 30px; display:flex; justify-content: space-between;}
main .sec05 .img-group01 { width: 57.74%; display:flex; flex-wrap: wrap; justify-content: flex-end; }
main .sec05 .img-group01 .Edge45 { margin-top: 1.55%; width: 42.03%; }
main .sec05 .img-group02 { width: 41.45%; }
main .sec05 .img-wrap a { position: relative; }
main .sec05 .img-wrap p { position: absolute; bottom: 16px; left: 20px; font-size: 16px; color: #fff;  letter-spacing: -.1px; }


main .mid-banner  { position: relative;  padding-top: 120px;}
main .mid-banner .container { width: 100%; position: absolute; top: 50%; z-index: 1000; text-align: center;  }
main .mid-banner .txt-box .tit { font-size: 34px; color: #fff; line-height: 1; letter-spacing: -.1px; }
main .mid-banner .txt-box p { margin: 0 auto; width: 384px; padding-top: 13px; font-size: 14px; color: #fff;}
main .mid-banner .more-btn {line-height: 3; text-align: center; display: inline-block; margin-top: 30px; font-size: 14px; color: #fff; padding: 0 22px; border: 1px solid #fff; }


main .sec06 { margin-top: 80px; padding-bottom: 100px; border-bottom: 1px solid #e7e7e7; }
main .sec06 .container { display: flex; justify-content: space-between; align-items: center; }
main .sec06 .txt-box .tit { font-size: 32px; color: #333; letter-spacing: -1.2px; line-height: 1.06px; }
main .sec06 .txt-box .more-btn { font-size: 13px; color: #333; border-bottom: 1px solid #8d8d8d; }
main .sec06 .con-group { margin-top: 28px; display: flex; justify-content: space-between;}
main .sec06 .con-group a { width: calc(100% / 3 - 2%); }
/* width값 calc(100% / 3 - 이부분) 어떤 값 들어가야하는지 모르겠어요 ㅠ */
main .sec06 .con-group .txt-box { margin-top: 14px; padding-right: 8px; line-height: 1.5rem; color: #333; font-weight: 300; font-size: 14px; overflow: hidden; }
/* overflow hidden의 역할은 넘치는 부분을 자른다고 보면 되나요? */
main .sec06 .con-group .txt-box span { font-weight: 500; }


main .sec07 { margin-top: 80px; }
main .sec07 .txt-box { color: #333 }
main .sec07 .txt-box p { width: 505px; font-size: 24px; ; font-weight: 300; line-height: 1.41; letter-spacing: -1px; }
main .sec07 .txt-box h2 { margin-top: 5px; font-size: 20px; color: #333; font-weight: 400; line-height: 1.7; letter-spacing: -.1px; }
main .sec07 .cont-group { margin-top: 32px; display: flex; justify-content: space-between; }
main .sec07 .cont-group a { width: 30.9%; padding: 0 4% 4%; box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);  }
main .sec07 .cont-group .txt-box  { position: relative; padding-top: 20px; text-align: center; }
main .sec07 .cont-group .txt-box .tit { font-size: 16px; color: #333; line-height: 1.31; letter-spacing: -0.81px; }
main .sec07 .cont-group .txt-box .btn-wrap {  border-bottom: 1px solid #000; display: inline; display: flex; justify-content: center; align-items: center; }
/* 밑줄이 박스크기만큼 안되네요ㅜ */
main .sec07 .cont-group .txt-box .btn-wrap::after { content: ''; width: 13px; height: 18px; background:url('../images/icon-arrow-contact.png') no-repeat 50% / cover;}
main .sec07 .cont-group .txt-box span {  font-size: 12px; color: #333; font-weight: 300; line-height: 2; }  
main .sec07 .cont-group .txt-box img { width: 13px; height: 18px; }




main .sec08 { margin-top: 89px; }
main .sec08 .container { padding-top: 11px; }
main .sec08 .container .con-group { display: flex; justify-content: space-between; }
main .sec08 .container .con-group li { position: relative; width: calc(100% / 2 - 2.25%); }
/* 원본사이트에 마진값을 2.25%를 준 이유가 뭘까요? 따로 계산방법이 있나요? */
main .sec08 .container .con-group li .img-box { height: 436.51px; overflow: hidden;}
main .sec08 .container .con-group li .txt-box { position: absolute; width: 100%; bottom: 40px; text-align: center; color:#000; }
/* 원본사이트에 top: auto;값을 주던데 따로 이유가 있나요? */
main .sec08 .container .con-group li .txt-box .tit { font-size: 24px; line-height: 34px; letter-spacing: -.08px; }
main .sec08 .container .con-group li .txt-box .txt-wrap { padding: 10px 12px 0; }
main .sec08 .container .con-group li .txt-box .txt-wrap p { font-size: 14px; line-height: 1.42; letter-spacing: -.67px; font-weight: 300; }
main .sec08 .container .con-group li .txt-box .btn { display: inline-block;  margin-top: 22px; font-size: 14px; padding: 0 20px; border: 1px solid rgba(51,51,51,.5); line-height: 2.57; letter-spacing: -0.6px; }
/* 글자색상이 슬라이더 색상으로 되어있다고 하는데 어떻게 해결해야할까요ㅠ */
main .sec08 .container .con-group li .txt-box.brand { color: #fff; }


/*===========================================================================
    푸터
============================================================================*/